html {
  font-family: "Lora", serif;
}

.name {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
}

.topnav {
  background-color: #f5eddd;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: #f5eddd;
  text-align: center;
  color: #535353;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ded0cd;
  color: black;
}

body {
  background-color: #f5eddd;
  /**light tan**/
  color: #535353;
  /**text is dark brown/black**/
}

h1 {
  color: #ffffff;
  font-size: 100px;
  padding-top: -20px;
  text-align: center;
}
