body {
  margin: 2% 4%;
}

@media only screen and (max-width: 600px) {
  /* start of mobile code for writing grid */
  .parent-writing {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  div.parent-writing .div1 {
    grid-area: 1 / 1 / 3 / 4;
  }
  div.parent-writing .div2 {
    grid-area: 2 / 2 / 4 / 5;
  }
  div.parent-writing .div3 {
    grid-area: 2 / 1 / 6 / 4;
  }
  div.parent-writing .div4 {
    grid-area: 4 / 2 / 5 / 5;
  }
  #writing1 {
    width: 85%;
  }
  #writing2 {
    width: 100%;
  }
  #writing3 {
    padding-top: 150px;
    width: 75%;
  }

  #writing4 {
    margin-top: -70px;
  }
  /* end of mobile code for writing grid */

  /* start of mobile code for styling  */
  .parent-styling {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  div.parent-styling .div1 {
    grid-area: 1 / 1 / 3 / 4;
  }
  div.parent-styling .div2 {
    grid-area: 1 / 2 / 1 / 4;
  }
  div.parent-styling .div3 {
    grid-area: 1 / 1 / 3 / 4;
  }
  div.parent-styling .div4 {
    grid-area: 2 / 2 / 4 / 5;
  }
  #majorshoppe1 {
    width: 85%;
  }
  #majorshoppe2 {
    width: 90%;
    margin-top: 300px;
  }
  #majorshoppe3 {
    /* padding-top: 150px; */
    width: 100%;
    margin-top: 150px;
  }
  #majorshoppe4 {
    margin-top: 100px;
  }
  /* end of mobile code for styling  */

  /* start of mobile code for media  */
  .parent-media {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  div.parent-media .div1 {
    grid-area: 1 / 1 / 3 / 4;
  }
  div.parent-media .div2 {
    grid-area: 1 / 2 / 2 / 4;
  }
  div.parent-media .div3 {
    grid-area: 2 / 1 / 4 / 3;
  }
  div.parent-media .div4 {
    grid-area: 1 / 2 / 2 / 4;
  }
  #media1 {
    width: 60%;
  }
  #media2 {
    width: 100%;
    margin-top: -200px;
  }
  #media3 {
    margin-top: 150px;
    width: 75%;
  }
  #media4 {
    margin-top: 70px;
  }

  /* end of mobile code for media  */
}
