#about {
  text-align: left;
  margin: auto;
  margin-top: 20px;
  font-size: 35px;
  padding: 50px;
}

h1 {
  color: #ffffff;
  font-size: 100px;
  padding-top: -20px;
  text-align: center;
}

.parent-styling {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px 450px 200px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 4rem auto 0 auto;
}

div.parent-styling .div1 {
  grid-area: 1 / 2 / 3 / 4;
}
div.parent-styling .div2 {
  grid-area: 2 / 3 / 4 / 5;
}
div.parent-styling .div3 {
  grid-area: 3 / 2 / 6 / 4;
}
div.parent-styling .div4 {
  grid-area: 4 / 3 / 5 / 5;
}

.test-img {
  width: 100%;
  border: 0.5px solid black;
}

#majorshoppe1 {
  width: 85%;
}

#majorshoppe2 {
  width: 75%;
}
#majorshoppe3 {
}
#majorshoppe4 {
  margin-top: 50px;
}
