body {
  background-color: #fbfbf8;
  /**light tan**/
  color: #535353;
  /**text is dark brown/black**/
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.title {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.topnav a {
  background-color: #fbfbf8;
  color: #535353;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 50px;
  padding-bottom: 60px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ded0cd;
  color: black;
}

#moodboard1 {
  width: 100vw;
  height: 600px;
}
