html, body {
    background-color: #fbfbf8;
    font-family: 'Karla', sans-serif;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}
/* select the section with id="centered"*/
section#centered {
    /*set the width of this selection to be 600px  */
    width:1200 px;
    /* set the margiin to be 0 on the top & bottom, auto on left & right */
    /*max-width:
    min-width: FOR BOUNDARIES*/
    margin: 0 auto;
    /*same as writing margin: 0 auto 0 auto; important because it centers everything*/
    /*set the border of the selection to be that color*/
    /* border: 1px solid #728696; */
        }
h1,h2,h3 {
    color:#728696;
    text-align:center;
}

h2{
    background-color:#C9BFB5;
}
em{
  color: #C9BFB5;
}

#name {
    font-size: 60px;
    font-weight: 300;
    font-family: 'Sofia', cursive;
    border: groove .4em #C9BFB5;
    border-radius: 2em;
    /*make heading go on right*/
    /* display: inline-block;
    float: right; */
}

p{
    font-size: 100%;
    font-weight: 100;
    width: 400px
    margin: 0 auto;
    /* min-width: 500px; */
    /*make paragraph stay on left*/
    /* display: inline-block;
    float: left; */
    text-align:center;
}
ul {
    color:black;
        }
  /*love*/
a:link, a:visited{
    color: #C9BFB5;
    text-decoration: none;
        }
  /*hate*/
a:hover, a:active {
    background-color: #C9BFB5;
    color:#728696;
        }
#special_skills {
    width: 600px;
    margin: 0 auto;
}
table td{
    text-align:center;
}
table th{
    color:#728696
}
.experience {
}
#education {
    width: 600px;
    height: 200px;
    margin: 0 auto;
}
.school{
    width: 600px;
    height: 200px;
    margin: 0 auto;
}
figure#headshot {
    width: 300px;
    margin: 0 auto;
}
figure#headshot img {
    width: 100%;
    margin: 0 auto;
}
footer{
  font-family: 'Sofia', cursive;
  margin: 0 auto;
  text-align:center;
  font-size: 19px;
}
address{
  color:728696
  margin: 0 auto;
  text-align:center;
}
